/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	960 Grid System ~ Core CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*/

/* `Containers
----------------------------------------------------------------------------------------------------*/

.container_12,
.container_16 {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/* `Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.container_12 .grid_3,
.container_16 .grid_4 {
	width: 220px;
}

.container_12 .grid_6,
.container_16 .grid_8 {
	width: 460px;
}

.container_12 .grid_9,
.container_16 .grid_12 {
	width: 700px;
}

.container_12 .grid_12,
.container_16 .grid_16 {
	width: 940px;
}

/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0;
}

.omega {
	margin-right: 0;
}

/* `Grid >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .grid_1 {
	width: 60px;
}

.container_12 .grid_2 {
	width: 140px;
}

.container_12 .grid_4 {
	width: 300px;
}

.container_12 .grid_5 {
	width: 380px;
}

.container_12 .grid_7 {
	width: 540px;
}

.container_12 .grid_8 {
	width: 620px;
}

.container_12 .grid_10 {
	width: 780px;
}

.container_12 .grid_11 {
	width: 860px;
}

/* `Grid >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .grid_1 {
	width: 40px;
}

.container_16 .grid_2 {
	width: 100px;
}

.container_16 .grid_3 {
	width: 160px;
}

.container_16 .grid_5 {
	width: 280px;
}

.container_16 .grid_6 {
	width: 340px;
}

.container_16 .grid_7 {
	width: 400px;
}

.container_16 .grid_9 {
	width: 520px;
}

.container_16 .grid_10 {
	width: 580px;
}

.container_16 .grid_11 {
	width: 640px;
}

.container_16 .grid_13 {
	width: 760px;
}

.container_16 .grid_14 {
	width: 820px;
}

.container_16 .grid_15 {
	width: 880px;
}

/* `Prefix Extra Space >> Global
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_3,
.container_16 .prefix_4 {
	padding-left: 240px;
}

.container_12 .prefix_6,
.container_16 .prefix_8 {
	padding-left: 480px;
}

.container_12 .prefix_9,
.container_16 .prefix_12 {
	padding-left: 720px;
}

/* `Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .prefix_1 {
	padding-left: 80px;
}

.container_12 .prefix_2 {
	padding-left: 160px;
}

.container_12 .prefix_4 {
	padding-left: 320px;
}

.container_12 .prefix_5 {
	padding-left: 400px;
}

.container_12 .prefix_7 {
	padding-left: 560px;
}

.container_12 .prefix_8 {
	padding-left: 640px;
}

.container_12 .prefix_10 {
	padding-left: 800px;
}

.container_12 .prefix_11 {
	padding-left: 880px;
}

/* `Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .prefix_1 {
	padding-left: 60px;
}

.container_16 .prefix_2 {
	padding-left: 120px;
}

.container_16 .prefix_3 {
	padding-left: 180px;
}

.container_16 .prefix_5 {
	padding-left: 300px;
}

.container_16 .prefix_6 {
	padding-left: 360px;
}

.container_16 .prefix_7 {
	padding-left: 420px;
}

.container_16 .prefix_9 {
	padding-left: 540px;
}

.container_16 .prefix_10 {
	padding-left: 600px;
}

.container_16 .prefix_11 {
	padding-left: 660px;
}

.container_16 .prefix_13 {
	padding-left: 780px;
}

.container_16 .prefix_14 {
	padding-left: 840px;
}

.container_16 .prefix_15 {
	padding-left: 900px;
}

/* `Suffix Extra Space >> Global
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_3,
.container_16 .suffix_4 {
	padding-right: 240px;
}

.container_12 .suffix_6,
.container_16 .suffix_8 {
	padding-right: 480px;
}

.container_12 .suffix_9,
.container_16 .suffix_12 {
	padding-right: 720px;
}

/* `Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.container_12 .suffix_1 {
	padding-right: 80px;
}

.container_12 .suffix_2 {
	padding-right: 160px;
}

.container_12 .suffix_4 {
	padding-right: 320px;
}

.container_12 .suffix_5 {
	padding-right: 400px;
}

.container_12 .suffix_7 {
	padding-right: 560px;
}

.container_12 .suffix_8 {
	padding-right: 640px;
}

.container_12 .suffix_10 {
	padding-right: 800px;
}

.container_12 .suffix_11 {
	padding-right: 880px;
}

/* `Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.container_16 .suffix_1 {
	padding-right: 60px;
}

.container_16 .suffix_2 {
	padding-right: 120px;
}

.container_16 .suffix_3 {
	padding-right: 180px;
}

.container_16 .suffix_5 {
	padding-right: 300px;
}

.container_16 .suffix_6 {
	padding-right: 360px;
}

.container_16 .suffix_7 {
	padding-right: 420px;
}

.container_16 .suffix_9 {
	padding-right: 540px;
}

.container_16 .suffix_10 {
	padding-right: 600px;
}

.container_16 .suffix_11 {
	padding-right: 660px;
}

.container_16 .suffix_13 {
	padding-right: 780px;
}

.container_16 .suffix_14 {
	padding-right: 840px;
}

.container_16 .suffix_15 {
	padding-right: 900px;
}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://www.positioniseverything.net/easyclearing.html */

.clearfix:after {
	clear: both;
	content: '.';
	display: block;
	visibility: hidden;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/*
Author: Phil Coffman
Theme URI: http://www.philcoffman.com
*/
html {
	background-color:#fff;
}

body {
	font:12px Helvetica,Arial,sans-serif;
	color: #333332;
	margin: 0px;
	padding: 0px;
}
img, h1, h2, h3, h4, h5, ul, ol, li, form, blockquote {
    text-rendering: optimizeLegibility;
	margin: 0px;
	padding: 0px;
}
h1 {
	font-size: 22px;
	font-weight: bold;
	color: #333332;
	margin:0px 0px 15px 0px;
	padding:0px 0px 4px 0px;
}
h2 {
	font-size: 15px;
	font-weight: bold;
	color: #333332;
	margin:0px 0px 2px 0px;
}
h2 a {
	color:#333332;
	text-decoration: none;
}
h2 a:hover {
	color:#0179a5;
	text-decoration: none;
}
h3 {
	font-size: 12px;
	font-weight: bold;
	color: #333332;
}
h3 a {
	color:#333332;
	text-decoration: none;
}
h3 a:hover {
	color:#0179a5;
	text-decoration: none;
}
p {
	line-height: 19px;
	padding-bottom:15px;
}
ul, ol {
	list-style: none;
}

a {
	color: #0179a5;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#sidebar {
	margin-top:5px;
}
blockquote, q{
	font:13px Georgia;
	font-style:italic;
	line-height: 24px;
	padding:20px 25px 20px 25px;
	margin-bottom: 15px;
	background-color:#f7f6f4;
	border-top: dotted 1px #939391;
	border-bottom: dotted 1px #939391;
}
blockquote p{
	margin:0px;
	padding:0px;
}
::selection {
	background: #0179a5; /* Safari */
	color: #ffffff;
	}
::-moz-selection {
	background: #0179a5; /* Firefox */
	color: #ffffff;
}




/* Main Nav
----------------------------------------------- */
#navbar {
	height: 45px;
	border-top: dotted 1px #939391;
	border-bottom: dotted 1px #939391;
	margin: 30px 0px 0px 0px;

}
#logo{
	padding: 7px 0px 0px 0px;
}
#titles{
	font-size: 9px;
	font-weight:bold;
	line-height: 12px;
	margin-top:12px;
	text-transform: uppercase;
}
#mainmenu{
	padding: 15px 0px 0px 0px;
}
#mainmenu ul{
	float: left;
	color: #333332;
	padding:0px;
}
#mainmenu ul li{
	display: inline;
	padding:0px 26px 0px 0px;
}
#mainmenu ul li a{
	color:#333332;
	font: 17px Helvetica,Arial,sans-serif;
	font-weight: bold;
}
#mainmenu ul li a:visited{
	color: #333332;
}
#mainmenu ul li a:hover{
	color: #0179a5;
	text-decoration:none;
}
#social-networks{
	margin-top:12px;
}
#dribbble{
	float:left;
	margin-right: 15px;
}
#flickr{
	float:left;
	margin-right:14px;
}
#linkedin{
	float:left;
}
#twitter {
	float:right;
}
/* Tweet Area
----------------------------------------------- */
#tweet-area {
	border-bottom: dotted 1px #939391;
	margin:0px;

}
#tweet{
	margin: 0px;
	line-height: 29px;
	padding: 55px 0 50px;
}
#tweet h1{
	border:none;
	margin:0;
	display:inline;
}
/* Home Content
----------------------------------------------- */
#home-content{
	margin:25px 0px 0px 0px;
}
#welcome-hello{
	font-size: 48px;
	font-weight: bold;
	color: #333332;
	line-height:43px;
	padding:0px 0px 4px 0px;
}
#welcome-hello a{
	cursor:pointer;
	color:#333332;
	text-decoration: none;
}
#welcome-hello a:hover {
	color:#0179a5;
	text-decoration: none;
}
#photo-gallery{
	margin: 20px 0px 0px 0px;
	clear: both;
}
#photo-gallery h1{
	color: #333332;
	border-bottom:none;
	margin:0px;
}
#photo-gallery h1 a{
	cursor:pointer;
	color: #333332;
	border-bottom:none;
	margin:0px;
}
#photo-gallery h1 a:hover{
	color:#0179a5;
	text-decoration: none;
	border-bottom:none;
	margin:0px;
}
#project-samples{
	margin: 0px;
}
#work-samples h1{
	color: #333332;
	border-bottom:none;
	margin:70px 0px 0px 0px;
}
#work-samples h1 a{
	cursor:pointer;
	color: #333332;
	border-bottom:none;
	margin:70px 0px 0px 0px;
}
#work-samples h1 a:hover{
	color:#0179a5;
	text-decoration: none;
	border-bottom:none;
	margin:70px 0px 0px 0px;
}
#project-blurb p{
	font-size: 11px;
	color: #333332;
	line-height: 15px;
	margin: 0px 0px 0px 0px;
}
#photoBucket img {
	height: 60px;
	width: 60px;
	margin-right:20px;
}
#flickr_7 {
	margin-right:0px !important;
}
/* About Page
----------------------------------------------- */
#about{
	margin:55px 0px 0px 0px;
	padding:0px;
}
#about img{
	margin:0px 0px 20px 0px;
}
#client-list{
	margin:40px 0px 0px 0px;
}
/* Gallery Listing Page
----------------------------------------------- */
#gallery-listing{
	margin:55px 0px 0px 0px;
	padding:0px;
}
#gallery-row{
	margin: 0px 0px 20px 0px;
}
#gallery-thumb img{
	padding: 0px 0px 0px 0px;
}
#gallery-thumb h2 {
	padding: 15px 0px 0px 0px;
}
#gallery-thumb h2 a{
	cursor:pointer;
}
#gallery-thumb p {
	font-size: 11px;
	line-height:15px;
}
#download {
	padding: 8px 0px 0px 0px;
}
#download a{
	font-size:9px;
	text-transform:uppercase;
	color:#ffffff;
	background-color:#333332;
	margin: 5px 0px 0px 0px;
	padding:3px 4px 2px 4px;
}
#download a:hover{
	text-decoration:none;
	background-color:#0179a5;
}
/* Gallery Page
----------------------------------------------- */
#gallery{
	margin:55px 0px 0px 0px;
	padding:0px;
}
#viewer {

}
#gallery-viewer p{
	text-align:center;
}

/* Work Listing Page
----------------------------------------------- */
#work-listing{
	margin:55px 0px 0px 0px;
	padding:0px;
}
#project-row{
	margin: 0px 0px 20px 0px;
}

#project-thumb img{
	padding: 0px 0px 0px 0px;
}
#project-thumb h2 {
	padding: 15px 0px 0px 0px;
}
#project-thumb h2 a{
	cursor:pointer;
}
#project-thumb p {
	font-size: 11px;
	line-height:15px;
}
/* Project Page
----------------------------------------------- */
#screenshots img{
	margin:0px 0px 20px 0px;
}
#project{
	margin:55px 0px 0px 0px;
	padding:0px;
}

#credits{
	margin:10px 0px 0px 0px;
}
dl {
	margin:7px 0px 0px 0px;

}

dt {
	width: 50px;
	float:left;
	clear:both;
	padding:0px 0px 5px 0px;
}

dd {
	float:left;
	width: 250px;
}
#return-button a{
	color:#0179a5;
}
#return-button a:hover{
	text-decoration:underline;
}
#launch a{
	background-color:#333332;
	color:#ffffff;
	float:left;
	clear:both;
	margin: 20px 0px 0px 0px;
	padding: 5px 7px 5px 7px;
}
#launch a:hover{
	background-color:#0179a5;
}

/* Blog
----------------------------------------------- */
#blog{
	margin:55px 0px 0px 0px;
	padding:0px;
}
#entry{
	padding:0px 0px 70px 0px;
}
#entry h1 {
	border-bottom: dotted 1px #939391;
}
#entry h1 a{
	color:#333332;
}
#entry h1 a:hover{
	text-decoration:none;
	color:#0179a5;
}
#comments{
	margin: 0px;
	padding: 0px;
}
.commentlist {
	margin: 0px 0px 40px 0px;
}
.commentlist li{
	border-bottom: dotted 1px #b9b9b8;
	padding: 5px 0px 10px 0px;
	margin: 10px 0px 10px 0px;
}
#commentdate{
	font-size: 11px;
}
#comment-count{
	font-size: 13px;
	font-weight: bold;
	margin: 0px 0px 25px 0px;
}
#comments-area{
	margin:0px;
	padding:0px;
}
#comments-area h2{
	margin:0px;
	padding:0px 0px 4px 0px;
	border-bottom: dotted 1px #b9b9b8;
}
#comment-content{
	margin:0px;
}
#comment-invitation{
	margin: 15px 0px 0px 0px;
}

#entry-img {
	margin: 0px 0px 8px 0px;
}
#date{
	margin: 0px 0px 25px 0px;
}
#entry-date li{
	margin: 3px 0px 0px 0px;
	font-size: 11px;
}
#entry-categories {
	margin: 15px 0px 0px 0px;
}

#comment-cta{
	font-size: 11px;
}
#sidebar {
	font-size:11px;
	margin-top:0px;
}
#subscribe{
	margin:25px 0px 20px 0px;
}
#subscribe a{
	font-size:9px;
	text-transform:uppercase;
	color:#ffffff;
	background-color:#d38f5c;
	margin: 5px 0px 0px 0px;
	padding:3px 4px 2px 4px;
}
#subscribe a:hover{
	text-decoration:none;
	background-color:#c55300;
}
#sidebar ul{
	margin:0px 0px 40px 0px;
}
#sidebar li{
	list-style:none;
	font-size: 11px;
	text-transform:none;
	margin: 3px 0px 0px 0px;
}
#blog-list li{
	font-size:11px;
	margin: 3px 0px 0px 0px;
}
#previous-entries a{
	background-color:#333332;
	color:#ffffff;
	float:left;
	clear:both;
	margin: 20px 0px 0px 0px;
	padding: 5px 7px 5px 7px;
}
#previous-entries a:hover{
	text-decoration:none;
	background-color:#0179a5;
}
#next-entries a{
	background-color:#333332;
	color:#ffffff;
	float:right;
	margin: 20px 0px 0px 0px;
	padding: 5px 7px 5px 7px;
}
#next-entries a:hover{
	text-decoration:none;
	background-color:#0179a5;
}
h2.widgettitle {
	text-align:left;
}



/* Footer
----------------------------------------------- */
#footer {
	margin: 60px 0 0;
	padding-top: 5px;
	border-top: dotted 1px #939391;
}
#footer p {
	font-size: 11px;
	line-height: 15px;
}
#footer ul { padding-top: 1px; }
#footer li,
#footer li a { float: left; }
#footer li a {
	display: block;
	height: 24px;
	margin-right: 14px !important;
	margin-right: 7px;
	width: 24px;
}
#footer .last a { margin: 0 !important; }

/* Fusion Ads
----------------------------------------------- */
#fusion-ads img{
	margin:0px 0px 10px 0px;
}
#fusion-ads img.fusionicon{
	margin:1px 4px 0px 0px;
}

#fusion-ads a {
	font-size:11px;
}

span.fusiontext a, span.fusiontext {
	font: normal 11px/14px Helvetica !important;
	display: block;
}

span.fusionentire a {
	color: #333332;
}

#fusion-ads a.pwr{
	font-size:9px;
	font-weight:bold;
}

/* Fusion Ads on Index
----------------------------------------------- */
#fusion-tweet {
	margin: 20px 0px 20px 0px;
	float: right;
}
#fusion-tweet img{
	margin:0px 0px 10px 0px;
}
#fusion-tweet img.fusionicon{
	margin:1px 4px 0px 0px;
}

#fusion-tweet a {
	font-size:11px;
}

span.fusiontext a, span.fusiontext {
	font: normal 11px/14px Helvetica !important;
	display: block;
}

span.fusionentire a {
	color: #333332;
}

#fusion-tweet a.pwr{
	font-size:9px;
	font-weight:bold;
}

/* Fusion Ads on Index
----------------------------------------------- */
#fusion-ads-project {
	margin: 0px 0px 30px 0px;
	float: right;
}
#fusion-ads-project img{
	margin:0px 0px 10px 0px;
}
#fusion-ads-project img.fusionicon{
	margin:1px 4px 0px 0px;
}

#fusion-ads-project a {
	font-size:11px;
}

span.fusiontext a, span.fusiontext {
	font: normal 11px/14px Helvetica !important;
	display: block;
}

span.fusionentire a {
	color: #333332;
}

#fusion-ads-project a.pwr{
	font-size:9px;
	font-weight:bold;
}


/* WRAPPER
************************************************************************************************ */

div.fs { background: #E8E8E8 !important; }

/* WRAPPER - LOADING
************************************************************************************************ */

div.fs div.fsLoading {
	background: #E8E8E8 url("http://v6.flickrshow.com/themes/blue/al.gif") 50% 50% no-repeat!important;
	z-index: 500;
}

div.fsLoaded-0 div.fsLoading 	{ background-image: url("http://v6.flickrshow.com/themes/blue/al.gif") !important; }
div.fsLoaded-1 div.fsLoading 	{ background-image: url("http://v6.flickrshow.com/themes/blue/al.gif") !important; }
div.fsLoaded-2 div.fsLoading 	{ background-image: url("http://v6.flickrshow.com/themes/blue/al.gif") !important; }
div.fsLoaded-3 div.fsLoading 	{ background-image: url("http://v6.flickrshow.com/themes/blue/al.gif") !important; }
div.fsLoaded-4 div.fsLoading 	{ background-image: url("http://v6.flickrshow.com/themes/blue/al.gif") !important; }
div.fsLoaded-5 div.fsLoading 	{ background-image: url("http://v6.flickrshow.com/themes/blue/al.gif") !important; }
div.fsLoaded-6 div.fsLoading 	{ background-image: url("http://v6.flickrshow.com/themes/blue/al.gif") !important; }
div.fsLoaded-7 div.fsLoading 	{ background-image: url("http://v6.flickrshow.com/themes/blue/al.gif") !important; }
div.fsLoaded-8 div.fsLoading 	{ background-image: url("http://v6.flickrshow.com/themes/blue/al.gif") !important; }
div.fsLoaded-9 div.fsLoading 	{ background-image: url("http://v6.flickrshow.com/themes/blue/al.gif") !important; }
div.fsLoaded-10 div.fsLoading 	{ background-image: url("http://v6.flickrshow.com/themes/blue/al.gif") !important; }


/* WRAPPER - SLIDER
************************************************************************************************ */

div.fs div.fsSlider {
	background: #D1D1D1 url("http://www.philcoffman.com/img/gutter.gif") !important;
	cursor: pointer;
}

div.fs div.fsSliderH {
	background: #0179a5 !important;
	cursor: pointer;
}

/* WRAPPER - BUTTONS
************************************************************************************************ */

div.fs ol.fsButtons {
	background: #E8E8E8;
}

div.fs ol.fsButtons li {
	background: #E8E8E8 50% 50% no-repeat;
	overflow: hidden;
	text-indent: -999px;
	z-index: 300;
	cursor: pointer;
}

div.fs ol.fsButtons li.fsButtonA { background-image: url("http://v6.flickrshow.com/themes/blue/ip.gif") !important; }
div.fs ol.fsButtons li.fsButtonB { background-image: url("http://v6.flickrshow.com/themes/blue/ir.gif") !important; }
div.fs ol.fsButtons li.fsButtonC { background-image: url("http://v6.flickrshow.com/themes/blue/il.gif") !important; }

div.fsPlaying ol.fsButtons li.fsButtonA { background-image: url("http://v6.flickrshow.com/themes/blue/is.gif") !important; }

/* WRAPPER - IMAGES
************************************************************************************************ */

div.fs ol.fsImages { background: #D1D1D1; }

div.fs ol.fsImages li h2 {
	color: #2E2E2E !important;
	font-family: "Helvetica", "Arial", Sans-serif;
	font-weight: lighter;
	overflow: hidden;
	z-index: 200;
}


/* ------------------------------------------------------------------------- */


#fusion_ad {
	float: right;
	width: 300px;
}

#header {
	border-bottom: 1px dotted #939391;
	height: 100px;
	padding: 20px 0;
	width: 940px;
}
#header li {
	float: left;
	width: 120px;
}
#header ul {
	float: left;
	margin-top: 12px;
	width: 360px;
}
#header ul a {
	border-bottom: 1px dotted #939391;
	color: #333332;
	font: bold 18px/2.1 Helvetica, Arial, sans-serif;
	text-decoration: none;
}
#header ul a:hover {
	border-color: #CCC;
	color: #0179A5;
}


.fusionimg {
	float: left;
	margin-right: 30px;
}

#p_contact form {
	margin-top: 31px;
	text-align: right;
}

#p_contact h1 { margin-bottom: 10px; }

#p_contact input,
#p_contact textarea {
	border: 1px solid #BFBEBC;
	color: #898987;
	font: 12px/1 Helvetica, Arial, sans-serif;
	padding: 8px;
	text-align: left;
	width: 202px;
}
#p_contact input:focus,
#p_contact textarea:focus { color: #333332; }
#p_contact textarea {
	height: 112px;
	line-height: 19px;
	padding: 4px 8px;
	width: 282px;
}

#p_contact input.error,
#p_contact textarea.error { border-color: #993332; }

#p_contact label {
	display: block;
	float: left;
	line-height: 1;
	padding: 9px 0;
	*padding-top: 10px; /* IE 6 and 7 */
	width: 70px;
}

/* Browser-specific hacks - Kids, don't try this at home ------------------- */

/* For Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#p_contact label { padding-top: 12px; }
	#p_contact textarea {
		height: 118px;
		padding: 8px;
	}
}
/* For Opera */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	#p_contact textarea {
		height: 105px;
		padding: 8px;
	}
}
/* Unfortunately, these can't be connected with a comma, and the asterisk
   hack (from above) can't be used.

   For IE 6 */
* html #p_contact textarea { height: 123px; }
/* For IE 7 */
*:first-child+html #p_contact textarea { height: 123px; }

/* End browser-specific hacks ---------------------------------------------- */


#p_contact p.error,
#p_contact p.success {
	font-size: 13px;
	font-weight: bold;
}
#p_contact p.error { color: #993332; }

#p_contact #header { margin-bottom: 35px; }
#p_contact #submit {
	background: #262626;
	border: 0;
	color: #FFF;
	cursor: pointer;
	font-size: 13px;
	padding: 5px 0;
	text-align: center;
	width: 60px;
}
#p_contact #submit:hover { background: #006E8F; }