<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
    #{get 'moreScripts' /}
</head>
<body>
<div class="container_12" id="site">
    <div id="header">
        <h1>Soft Shake</h1>
        <h3>Play! Framework demo</h3>
        <h3>Nicolas Martignole</h3>
        <div class="clear"></div>
    </div>


    #{doLayout /}
</div>
</body>
</html>
