#{extends 'main.html' /}
#{set title:'Home' /}

<table>
	<thead>
		<tr>
			<th class="title">Title</th>
			<th class="dueDate">Due Date</th>
			<th class="todoDone">Change?</th>
			<th class="edit">Done</th>
			<th class="edit">Edit</th>
		</tr>
	</thead>
	<tbody>
	    #{list listOfTodos, as:'todoItem'}
	    <tr class="contact" contactId="${todoItem.id}" draggable="true">
   			<td id="title-${todoItem.id}">
                <span class="${todoItem.todoDone}_text">${todoItem.title}</span>
               </td>
   			<td id="dueDate-${todoItem.id}">${todoItem.dueDate?.format('yyyy-MM-dd')}</td>

            <td> #{a @done(todoItem.id)}Done#{/a}</td>

            <td id="todoDone-${todoItem.id}">
            #{if todoItem?.todoDone == false}
            <div class="ui-icon ui-widget-content ui-icon-close"></div>
            #{/if}
            #{else}
                <div class="ui-icon ui-widget-content ui-icon-check"></div>
            #{/else}
            </td>

            <td><a href="@{form(todoItem.id)}">&gt;</a></td>
   		</tr>
	    #{/list}
	</tbody>
    <tfoot>
    <tr>
        <th class="tableFooter" colspan="5">#{paginate pageIndex:page, totalPage:totalPage /}
</th>
    </tr>
    </tfoot>
</table>
<br/>
<h1>New Todo</h1>

#{ifErrors}
   <div class="ui-state-error">     
    ${errors}
   </div>
#{/ifErrors}

#{if flash.success}
    <div class="ui-state-focus">
        ${flash.success}
    </div>
#{/if}

#{form @create()}

<p class="field">
    <label for="title">Title:</label>
    <input type="text" id="title" name="todo.title" value="${flash.todo_title}">
    <span class="error">${errors.forKey('flash.todo_title')}</span>
</p>


<p class="field">
    <label for="dueDate">Due date:</label>
    <input type="text" id="dueDate" name="todo.dueDate" value="${flash.todo_dueDate}">
    <span class="error">${errors.forKey('flash.todo_dueDate')}</span>
</p>


<p class="buttons">
    <input type="submit" value="Save this todo" id="saveContact">
</p>

<script type="text/javascript" charset="utf-8">
    $("#dueDate").datepicker({dateFormat:'yy-mm-dd', showAnim:'fadeIn'})
</script>
#{/form}