#{extends 'main.html' /}
#{set title:'Home' /}

<table>
	<thead>
		<tr>
			<th class="title">Title</th>
			<th class="dueDate">Due Date</th>
			<th class="todoDone">todoDone</th>
			<th class="edit"></th>
		</tr>
	</thead>
	<tbody>
	    #{list listOfTodos, as:'todoItem'}
	    <tr class="contact" contactId="${todoItem.id}" draggable="true">
   			<td id="title-${todoItem.id}">${todoItem.title}</td>
   			<td id="dueDate-${todoItem.id}">${todoItem.dueDate?.format('yyyy-MM-dd')}</td>
   			<td id="todoDone-${todoItem.id}">${todoItem.todoDone}</td>
   			<td><a href="@{form(todoItem.id)}">&gt;</a></td>
   		</tr>
	    #{/list}
	</tbody>
</table>

